/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

.scene {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* Background */
.sky {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.15); /* light dark overlay */
  z-index: 0;
}

/* Trees animation layer */
.trees {
  position: absolute;
  width: 300vw;
  height: 100%;
  background-image: url("tress.jpg");
  background-size: cover;
  animation: moveScene 6s linear infinite;
  z-index: 1;
}

/* Track */
.track {
  position: absolute;
  bottom: 15px;
  width: 300vw;
  height: 30vh;
  background-image: url("track.jpg");
  background-repeat: repeat-x;
  background-size: contain;
  animation: moveScene 6s linear infinite;
  z-index: 2;
  border-top: 5px solid #444; /* creates a visual edge */
  box-shadow: inset 0 5px 10px rgba(0,0,0,0.3); /* depth effect */

}

/* Car */
.car {
  position: absolute;
  bottom: 17vh;
  left: 20vw;
  width: 250px;
  height: 100px;
  background-image: url("car1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 3;
   animation: shake 8s linear infinite;
}

/* Wheels */
.wheel {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 3px;
  z-index: 4;
}

.wheel img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  animation: rotateWheel 0.8s linear infinite;
}

.wheel1 {
  left: 23px;
}

.wheel2 {
  right: 40px;
}

/* Animations */
@keyframes moveScene {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100vw);
  }
}

@keyframes rotateWheel {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes shake {
    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(-5px);
    }
}